.header{
    background: 	 #3e64b8;
    width: 100%;
    height: 85px;
}

body{
    margin: 0;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif ;
}
.logo{
    width: 50%;
    padding-top: 35px;
    float: left;
}

.logotext{
    font-family: Helvetica Neue,Arial, Helvetica, sans-serif ;
    margin-left: 170px;
    width: 50%;
    font: 100px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 20px;
}

.login{
    width: 50%;
    float: left;
    padding-top: 10px;
}
.login-label{
    color: #fff;
    font-size: 11px;
}

.submit{
    background: #4267b2;
    color: #fff;
    border-color: #29487d;
    font-size: 10px;
    height: 20px;
    cursor: pointer;
}

.submit:hover{
    background-color: rgb(23, 23, 139);
}

.logincontrols{
    margin-left: 150px;
}

.forgotten-account{
    color: #9cb4d8;
    text-decoration: none;
    font-size: 11px;
}

.main-body{
    background: linear-gradient(white,#D3D8E8);
    width: 100%;
    height: 500px;
}

.left-main{
    width: 50%;
    float: left;
    padding-left: 150px;
    padding-top: 100px;
}

.right-main{
    width: 40%;
    float: left;
    
}

.img-main{
    width: 600px;
}

.para{
    font-weight: bold;
    font-size: 20px;
}

.its{
    font-weight:300;
    font-size:large;
}

.mob{
    width: 8.9cm;
    height: 20px;
    
}

.password{
    width: 8.9cm;
    height: 20px;
}

.det1{
    padding-top: 10px;
    


}
.name{
    height: 20px;
    border-radius: 5px;
    border-color: #D3D8E8;
}
.sur{
    height: 20px;
    border-radius: 5px;
    border-color: #D3D8E8;
}
.mob{
    margin-top: 10px;
    border-radius: 5px;
    border-color: #D3D8E8;
}

.password{
    margin-top: 10px;
    border-radius: 5px;
    border-color: #D3D8E8;
}

.birth{
   color: grey;
   
   height: 230px;
    
}

.gen{
    color: grey;
    margin-top: 5px;
}
.gensel{
    margin-top: -15px;
}
.para2{
    margin-top: 15px;
    color: gray;
    font-size: 10px;
    line-height: 15px;
}

.signup{
    margin-top: 20px;
    width: 4cm;
    height: 30px;
    background: linear-gradient(rgb(41, 187, 41),darkgreen);
    color: white;
    font-weight: bold;
}

.footer{
    color: rgb(202, 199, 199);
    font-weight: bolder;
    font-size: 50px;
    margin-top: 45px;
    margin-left: 85px ;
}
.created{
    color: rgb(202, 199, 199);
    font-weight: bolder;
    font-size: 30px;
    margin-top: -50px;
    margin-left: 1105px ;
    
}